# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt' to install these dependencies.
praw==4.4.0
beautifulsoup4==4.5.3
future==0.16.0
insults==0.1.12
markdown==2.6.8
mock==2.0.0
lxml
nose
pytest
pytz
textblob==0.9.0
tweepy==3.3.0
